@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-header-height: 80px;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
