.home_banner {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
/*     @apply grid  bg-cover w-full bg-center min-h-screen md:bg-center items-end sm:bg-top   
 */}

.home_banner-content {
    @apply flex flex-col justify-center items-start
}

@screen phone {

    .home_banner {
        @apply grid bg-cover w-full bg-center md:bg-center items-end sm:bg-top  items-center
    }

    .img__banner {
        @apply w-full h-auto object-cover
    }

    .home__banner-content-principal {
        @apply w-full bg-primary flex flex-col justify-center items-center p-10 gap-10
    }

    .title__home-banner {
        @apply text-[12px]
    }

    .subtitle__home-banner {
        @apply text-[32px]
    }

    .description__home-banner {
        @apply text-[14px] 
    }
}

@screen tablet {
    .home_banner {
        @apply h-[50vh];
    }

    .home__banner-content-principal {
        @apply flex-row bg-transparent items-start justify-around pb-0
    }    

    .home_banner-content {
        @apply bg-primary max-w-[400px] min-h-[560px] p-10 justify-start mt-20
    }

    .title__home-banner {
        @apply text-[20px]
    }

    .subtitle__home-banner {
        @apply text-[30px]
    }

    .description__home-banner {
        @apply text-[16px] 
    }

    .home_banner-form-contact {
        @apply flex flex-col items-center
    }
}


@screen laptop {

    .home_banner {
        @apply h-[60vh];
    }

    .home_banner-content {
        @apply bg-primary min-w-[600px] min-h-[700px]
    }

    .title__home-banner {
        @apply text-[24px]
    }

    .subtitle__home-banner {
        @apply text-[64px]
    }

    .description__home-banner {
        @apply text-[24px] 
    }
}

@media (width: 768px) {
    .home_banner {
        height: 65vh;
    }

    .home_banner-content {
       min-height: 550px;
    }
}

@media (min-width: 1024px) {
    .home_banner {
        height: 85vh;
    }

}
