.section__home-impact-services {
    position: relative; /* Asegura que el overlay se posicione dentro de esta sección */
    background-image: url('/assets/imgs/img-impact-services.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @apply flex flex-col items-center justify-center gap-3
}

.overlay {
    @apply bg-primary bg-opacity-80; /* Solo las clases de Tailwind */
    position: absolute; /* Propiedades CSS estándar */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; /* Asegura que el overlay esté encima de la imagen */
  }
  

.title__home-impact-services, .title__card-home-impact-services {
    @apply text-white text-center;
    position: relative; /* Asegura que el texto esté encima del overlay */
    z-index: 2; /* Para que el texto esté encima del overlay */
}

.icon__card-home-impact-services {
    position: relative; /* Asegura que los íconos estén encima del overlay */
    z-index: 2; /* Íconos con z-index más alto */
}

.cards__home-impact-services {
    position: relative; /* Asegura que las cards estén por encima del overlay */
    z-index: 2; /* Cards con z-index más alto */
    @apply gap-4
  }

.card__home-impact-services {
    z-index: 3; /* Asegura que la card esté por encima de cualquier overlay */
    @apply border border-white p-4
}

@screen phone {
    .section__home-impact-services {
        min-height: 300px;
    }
    .cards__home-impact-services {
        @apply grid grid-cols-2 m-4
    }
    .card__home-impact-services {
        width: 150px;
        height: 100px;
        @apply flex flex-col justify-center items-center
    }
    .icon__card-home-impact-services {
        width: 50px;
        height: 50px;
    }
    .title__home-impact-services {
        @apply text-[18px]
    }
    .title__card-home-impact-services {
        @apply text-[14px]
    }
}

@screen tablet {
    .cards__home-impact-services {
        @apply flex gap-10
    }
    .title__home-impact-services {
        @apply text-[20px]
    }
}

@screen laptop {
    .title__home-impact-services {
        @apply text-[32px]
    }

    .title__card-home-impact-services {
        @apply text-[18px]
    }

    .card__home-impact-services {
        max-width: 180px;
        height: 150px;
        @apply w-full
    }
}

@screen desktop {
    .section__home-impact-services { 
        min-height: 500px
    }
    .title__home-impact-services {
        @apply text-[40px]
    }

    .title__card-home-impact-services {
        @apply text-[24px]
    }

    .card__home-impact-services {
        max-width: 270px;
        height: 200px;
    }
    
}
